<ion-content class="login-content">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-row>
        <ion-col class="title" *ngIf="isLogin">
          <h1 class="ion-text-uppercase ion-text-center">Welcome Back!</h1>
          <h5 class="ion-text-uppercase ion-text-center">Please login to your account</h5>
        </ion-col>
        <ion-col class="title" *ngIf="!isLogin">
          <h1 class="ion-text-uppercase ion-text-center">Forgot Password</h1>
        </ion-col>
      </ion-row>
      <ion-card class="card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div *ngIf="isLogin">
                <ion-row>
                  <ion-col>
                    <form>
                      <ion-list class="inputs-list" lines="full">
                        <ion-row class="ion-justify-content-center">
                          <ion-col class="ion-padding-horizontal" size='12'>
                            <ion-item class="input-item">
                              <ion-label position="floating">Email</ion-label>
                              <ion-input clearInput autocapitalize="off">
                              </ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-row class="ion-justify-content-center">
                          <ion-col class="ion-padding-horizontal" size='12'>
                            <ion-item class="input-item">
                              <ion-label position="floating">Password</ion-label>
                              <ion-input type="password" clearInput>
                              </ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-list>
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                          <ion-button class="forgot-btn" fill="clear" (click)="forgotPassword()">
                            Forgot password?
                          </ion-button>
                        </ion-col>
                        <ion-col size="6">
                          <ion-button class="forgot-btn" fill="clear">
                            Register
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-padding-horizontal" size='12'>
                          <ion-button class="log-masuk-btn" type="submit" expand="block">
                            Login
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </form>
                  </ion-col>
                </ion-row>
              </div>
              <div *ngIf="!isLogin">
                <ion-row>
                  <ion-col>
                    <form>
                      <ion-list class="inputs-list" lines="full">
                        <ion-row class="ion-justify-content-center">
                          <ion-col class="ion-padding-horizontal" size='12'>
                            <ion-item class="input-item">
                              <ion-label position="floating">Email</ion-label>
                              <ion-input clearInput autocapitalize="off">
                              </ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-list>
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                          
                        </ion-col>
                        <ion-col size="6">
                          <ion-button class="forgot-btn" fill="clear" (click)="backTologin()">
                            Back to login
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-padding-horizontal" size='12'>
                          <ion-button class="log-masuk-btn" type="submit" expand="block">
                            Reset Password
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </form>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
